<!-- Display si todolist vide -->

<div *ngIf="todoListArray.length === 0" class="emptyContainer">

    <div class="emptyTodo">

        <p class="emptyContentMessage">Aucune tâche pour le moment 🙌</p>

        <app-create-task-button></app-create-task-button>

    </div>

</div>

<!-- Display si tâche créée -->

<div *ngIf="todoListArray.length > 0">

    <!-- Tâches urgentes -->

    <p *ngIf="displayUrgentTask()"> ⚠️Tâches urgentes: </p>

    <ng-container *ngFor="let task of taskManagementService.getTask()">

        <div class="listedTask" *ngIf="task.isUrgent">

            <label for="{{task.id}}">

                <input 
                    type="radio" 
                    [value]="task.id"
                    (change)="markAsCompleted(task.id)"
                />

                <div class="taskContent" (click)="modifyTask(task.id)">
                    <span class="categoryIcon">{{task.category}}</span>
                    <span>{{task.content}}</span>
                </div>

            </label>

        </div>

    </ng-container>

    <!-- Autres tâches / non urgentes -->

    <p *ngIf="displayOtherTask()"> 🌸Autres tâches:</p>

    <ng-container *ngFor="let task of taskManagementService.getTask()">
        
        <div class="listedTask" *ngIf="!task.isUrgent">

            <label for="{{task.content}}">

                <input 
                    id="{{task.id}}" 
                    [value]='task.id' 
                    type="radio"
                    (change)="markAsCompleted(task.id)"
                />

                <div class="taskContent" (click)="modifyTask(task.id)">
                    <span class="categorySpaceBtw">{{task.category}}</span>
                    <span>{{task.content}}</span>
                </div>

            </label>

        </div>

    </ng-container>

</div>

<app-alert-modal 
  [message]="alertMessage" 
  [isVisible]="isAlertVisible" 
  (onClose)="closeAlert()">
</app-alert-modal>
