<form [formGroup]="taskForm" #formGroup="ngForm" >

<p>Selectionnez votre catégorie:</p>
        
    <div class="categoryFlex">

        <div><input required type="radio" [(ngModel)]="pickCategory" id="category1" formControlName="categoryForm" name="categoryForm" value="🛍️" class="radioTest categoryShop"></div>

        <div><input required type="radio" [(ngModel)]="pickCategory" id="category2" formControlName="categoryForm" name="categoryForm" value="💊" class="radioTest categoryHealth"></div>

        <div><input required type="radio" [(ngModel)]="pickCategory" id="category3" formControlName="categoryForm" name="categoryForm" value="💼" class="radioTest categoryWork"></div>

        <div><input required type="radio" [(ngModel)]="pickCategory" id="category4" formControlName="categoryForm" name="categoryForm" value="💸" class="radioTest categoryBills"></div>

        <div><input required type="radio" [(ngModel)]="pickCategory" id="category5" formControlName="categoryForm" name="categoryForm" value="🧼" class="radioTest categoryClean"></div>

        <div><input required type="radio" [(ngModel)]="pickCategory" id="category6" formControlName="categoryForm" name="categoryForm" value="🤷‍♀️"class="radioTest categoryOther"></div>

    </div>
    
<p>Quelle tâche avez vous à effectuer ?</p>

    <div class="textAreaFlex">
        <p>
            <input required
            type="text"
            formControlName="todoForm"
            class="textareaInput" 
            placeholder="Exemple: Faire les courses" 
            />
        </p>
    </div>

    <div class="urgentOption">
        <input 
        type="checkbox" 
        class="checkbox-round"
        formControlName="urgentForm"
        name="urgentSelect"
        />
        <label for="checkbox">La tâche est urgente ⚠️</label>
    </div>


    <div class="btn-action-flex">
        <a routerLink="/">
            <button 
            type="submit" 
            class="btn-action" 
            (click)="isEditMode ? updateTask() : addNewTask()"  
            [disabled]="taskForm.invalid" 
            [ngClass]="{'disabled-btn': taskForm.invalid}">
            {{ isEditMode ? 'Modifier la tâche' : 'Valider ma tâche' }}
            </button>
        </a>
    </div>


</form>